<h1>arteventz.com</h1>
<br>
<p>Arteventz.com is an online community for professional artists, hobbyist, collectors, gallery and event promoters, and art enthusiasts of every flavor.</p>

<p>Sign Up allows members to post any number of Art related Events and/or an Individual Profile which may optionally include Personal Artwork. All Profiles, Art, and Events are available for browsing and sharing by Members and Public alike.</p>
<br>
<br>

<%= link_to "Free Membership", new_member_registration_path, class: " btn btn-huge btn btn-wide"  %>
<%= link_to "Contact Us", contact_path, class: " btn btn-huge btn btn-wide"  %>
<%= link_to "Get the Newsletter", newsletter_signup_path, class: " btn btn-huge btn btn-wide" %>
<br> 



