<div class="container-fluid">
  <div class="call-box">
    <div id="main-button">
      <%= link_to " Free Membership ", new_member_registration_path, class: " btn btn-huge btn btn-wide" %>
    </div>
    <p><span>arteventz.com&nbsp;</span>&nbsp;offers Free Membership. Sign Up allows members to post any number of Art related Events and/or an Individual Profile which may optionally include Personal Artwork.<br><br> All Profiles, Art, and Events are savailable for browsing and sharing by Members and Public alike.</p>
  </div>
 
  <ul id= "myTabs" class="nav nav-tabs pull-right nav-stacked" data-tabs="tabs">
    <li class="active"><a data-toggle ="tab" href="show_art_events">Show Art Events</a></li>
    <li><a data-toggle="tab" href="#show_art">Show Art</a></li>
  </ul>
  
  <div class="public-slider content">
    <div class="tab-pane active" id="show_art_events"><%= render 'shared/all_event_photos_slider' %></div>
    <div class="tab-pane" id="show_art"><%= render 'shared/all_art_photos_slider' %></div>
  </div>
