<!-- <div class="well"> -->
    <div class="call-box">
        <h2>Free Membership</h2>
    </div>
    <div class="slider-wrapper">
    <div class="ribbon"></div>

        <div id="slider" class="nivoSlider">
            <img src="http://images.fineartamerica.com/images-small-5/spirit-david-hansen.jpg" alt="" />
            <a href="http://images.fineartamerica.com/images-small-5/spirit-david-hansen.sjpg">
                <img src="http://images.fineartamerica.com/images-small-5/shaken-at-sunset-david-hansen.jpg" alt="" title="#htmlcaption" />
            </a>
            <img src="http://images.fineartamerica.com/images-small-5/digital-powell-david-hansen.jpg" alt="" title="This is an example of a caption" />
            <img src="http://images.fineartamerica.com/images-small-5/a-water-world-david-hansen.jpg" alt="" />
        </div>
    </div>
    <div id="htmlcaption" class="nivo-html-caption">
        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
    </div>
<!-- </div> -->
    
        

