<!-- <div class="well"> -->
    <div class="call-box">
        <div id="main-button">
            <%= link_to " Free Membership ", new_member_registration_path, class: " btn btn-huge btn btn-wide" %>
        </div>
        <p><span>arteventz.com&nbsp;</span>&nbsp;offers Free Membership. Sign Up allows members to post any number of Art related Events and/or an Individual Profile which may optionally include Personal Artwork.<br><br> All Profiles, Art, and Events are available for browsing and sharing by Members and Public alike.</p>
    </div>
    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>

        <div id="slider" class="nivoSlider">
            <img src="http://images.fineartamerica.com/images-small-5/spirit-david-hansen.jpg" alt="" />
            <a href="http://images.fineartamerica.com/images-small-5/spirit-david-hansen.sjpg">
                <img src="http://images.fineartamerica.com/images-small-5/shaken-at-sunset-david-hansen.jpg" alt="" title="#htmlcaption" />
            </a>
            <img src="http://images.fineartamerica.com/images-small-5/digital-powell-david-hansen.jpg" alt="" title="This is an example of a caption" />
            <img src="http://images.fineartamerica.com/images-small-5/a-water-world-david-hansen.jpg" alt="" />
            <%= image_tag "southwest-sunrise-1-david-hansen.jpg", alt: "Text" %>
        </div>
        </div>
    <div id="htmlcaption" class="nivo-html-caption">
        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
    </div>
    
<!-- </div> -->
    
        

