<div class="container-fluid">
    <div class="call-box">
        <div id="main-button">
            <%= link_to " Free Membership ", new_member_registration_path, class: " btn btn-huge btn btn-wide" %>
        </div>
        <p><span>arteventz.com&nbsp;</span>&nbsp;offers Free Membership. Sign Up allows members to post any number of Art related Events and/or an Individual Profile which may optionally include Personal Artwork.<br><br> All Profiles, Art, and Events are available for browsing and sharing by Members and Public alike.</p>
    </div>

    <div>
        <%= render 'shared/all_art_photos_slider' %>
    </div>
    
</div>
    
        

