<!-- primary slider for all artphotos -->
<div class="slider-wrapper theme-default">
  <div class="slider" class="nivoSlider">    
    <% @art_photos = ArtPhoto.all %>
    <% @art_photos.each do |img| %>
      <%= image_tag(img.photo.url, :title => img.profile.name) %> 
    <% end %> 
  </div>
</div>
   
