<div class="bottom-menu bottom-menu-large mbl">
  <div class="container foot-container">
    <div class="row">
      
      
      <div class="span2 group1">
        <p class="col-title">Featured Events</p>
        <ul class="bottom-links">
          <li><a href="http://www.artstozion.com/">A to Z Studio Tour</a></li>
          <li><a href="http://www.kayentastreetpainting.org/">Kayenta Street Paint</a></li>
          <li><a href="http://www.sgcity.org/artfestival/">St. George Art Fest</a></li>
          <li><a href="http://www.folkartmarket.org/">Santa Fe Folk Art</a></li>
          <li><a href="http://bchcares.org/foundation/art-in-the-park/">Art in the Park</a></li>
          <li><a href="#fakelink">Art in the Park</a></li>
          <li><a href="#fakelink">Store</a></li>
        </ul>
      </div>
      
      <div class="span2 group1">
        <p class="col-title">Featured Artists</p>
        <ul class="bottom-links">
          <li><a href="#fakelink">George W. Bush</a></li>
          <li><a href="#fakelink">Red Skelton</a></li>
          <li><a href="#fakelink">Georgia O'Keefe</a></li>
          <li><a href="#fakelink">Geraldo Riviera</a></li>
          <li><a href="#fakelink">Ted Cruz</a></li>
          <li><a href="#fakelink">Barack Obama</a></li>
          <li><a href="#fakelink">David Hansen</a></li>
        </ul>
      </div>
      <div class="span2 group1">
        <p class="col-title">Site Navigation</p>
        <ul class="bottom-links">
          <li><a href="#fakelink">Sign Up</a></li>
          <li class="active"><a href="#fakelink">Sign In</a></li>
          <li><a href="#fakelink">Contact</a></li>
          <li><a href="#fakelink">About</a></li>
          <li><a href="#fakelink">Privacy</a></li>
          <li><a href="#fakelink">Terms of Use</a></li>
        </ul>
      </div>
      <div class="span2 group1">
        <p class="col-title">Follow Us</p>
        <ul class="bottom-links">
          <li><a href="#fakelink">Facebook</a></li>
          <li><a href="#fakelink">Twitter</a></li>
          <li><a href="#fakelink">Youtube</a></li>
          <li><a href="#fakelink">Vimeo</a></li>
          <li><a href="#fakelink">Instagram</a></li>
        </ul>
      </div>
    </div>
    <!-- daves SM icins start here 
      <div id="footercontent">
        <ul id="socialiconbar side-nav">
          <li>
            <a class="footericon" href="http://twitter.com/david_architect">
            <div id="twitter" style="margin-left:0px !important;"></div>
            </a>
          </li>
          <li>
            <a class="footericon" href="http://www.facebook.com/pages/David-Hansen-Architecture/106643346086376">
            <div id="facebook"></div>
            </a>
          </li>
          <li>
            <a class="footericon" href="http://www.linkedin.com/pub/david-j-hansen/14/b35/5a6">
            <div id="linkedin"></div>
            </a>
          </li>
         <li>
            <a class="footericon" href="http://architecto.tumblr.com/ ">
            <div id="tumblr"></div>
            </a>
          </li> 
          <li>
            <a class="footericon" href="http://www.youtube.com/user/earthspiritart?feature=mhee">
            <div id="youtube"></div>
            </a>
          </li>
          <li>
            <a class="footericon" href="http://pinterest.com/earthspiritart/">
            <div id="pintrest" ></div>
            </a>
          </li>
          <li>
            <a class="footericon" href="mailto:djhansen@me.com">
            <div id="email"></div>
            </a>
          </li>
        </ul>
      </div>
      Daves SM icons end here -->
  </div>

</div> 