<div class="bottom-menu bottom-menu-large mbl">
  <div class="container">
    <div class="row">
      <!-- <div class="span2 brand">
        <%= image_tag "images.png" %>
      </div> -->
      
      <div class="span2 group1">
        <p class="col-title">About Us</p>
        <ul class="bottom-links">
          <li><a href="#fakelink">Dashboard</a></li>
          <li><a href="#fakelink">Feed</a></li>
          <li><a href="#fakelink">Forums</a></li>
          <li><a href="#fakelink">Radio</a></li>
          <li><a href="#fakelink">Journal</a></li>
          <li><a href="#fakelink">Reader</a></li>
          <li><a href="#fakelink">Store</a></li>
        </ul>
      </div>
      
      <div class="span2 group1">
        <p class="col-title">Networks</p>
        <ul class="bottom-links">
          <li><a href="#fakelink">Insight</a></li>
          <li><a href="#fakelink">Promotion</a></li>
          <li><a href="#fakelink">Production</a></li>
          <li><a href="#fakelink">Planning</a></li>
          <li><a href="#fakelink">Journal</a></li>
          <li><a href="#fakelink">Reader</a></li>
          <li><a href="#fakelink">Store</a></li>
        </ul>
      </div>
      <div class="span2 group1">
        <p class="col-title">Mainframe</p>
        <ul class="bottom-links">
          <li><a href="#fakelink">Register / Login</a></li>
          <li class="active"><a href="#fakelink">Jobs</a></li>
          <li><a href="#fakelink">Contacts</a></li>
          <li><a href="#fakelink">Privacy</a></li>
          <li><a href="#fakelink">Terms of Use</a></li>
        </ul>
      </div>
      <div class="span2 group1">
        <p class="col-title">Follow Us</p>
        <ul class="bottom-links">
          <li><a href="#fakelink">Facebook</a></li>
          <li><a href="#fakelink">Twitter</a></li>
          <li><a href="#fakelink">Youtube</a></li>
          <li><a href="#fakelink">Vimeo</a></li>
          <li><a href="#fakelink">Instagram</a></li>
        </ul>
      </div>
    </div>
    <!-- daves SM icins start here 
      <div id="footercontent">
        <ul id="socialiconbar side-nav">
          <li>
            <a class="footericon" href="http://twitter.com/david_architect">
            <div id="twitter" style="margin-left:0px !important;"></div>
            </a>
          </li>
          <li>
            <a class="footericon" href="http://www.facebook.com/pages/David-Hansen-Architecture/106643346086376">
            <div id="facebook"></div>
            </a>
          </li>
          <li>
            <a class="footericon" href="http://www.linkedin.com/pub/david-j-hansen/14/b35/5a6">
            <div id="linkedin"></div>
            </a>
          </li>
         <li>
            <a class="footericon" href="http://architecto.tumblr.com/ ">
            <div id="tumblr"></div>
            </a>
          </li> 
          <li>
            <a class="footericon" href="http://www.youtube.com/user/earthspiritart?feature=mhee">
            <div id="youtube"></div>
            </a>
          </li>
          <li>
            <a class="footericon" href="http://pinterest.com/earthspiritart/">
            <div id="pintrest" ></div>
            </a>
          </li>
          <li>
            <a class="footericon" href="mailto:djhansen@me.com">
            <div id="email"></div>
            </a>
          </li>
        </ul>
      </div>
      Daves SM icons end here -->
  </div>

</div> 