    <div class="col-md-5">
      <h1>Edit Your Profile</h1>
      <br>
      <br>    
      <%= render 'form' %>
      <p><em>Once you update a profile you will have the option to add art work</p>
      <h5><%= link_to 'Show My Profile', @profile %></h5> 
    </div>
