<html>
  <head>
    <title>Create Profile - Arteventz</title>
  </head>
  <body>    
    <h1>New Profile Page</h1>
    <p>* <strong>Required field</strong></p>
    <%= render 'form' %>
    <p><em>Once you create a profile you will have the option to add art work </p>
    <h5><%= link_to 'Back', dashboard_profiles_path %></h5>
  </body>
</html>
