/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides

 *= require flat-ui.css
 *= require fullcalendar.css
 
 *= require nivo-slider.css
 *= require default.css

 *= require_self.
 */
html,body {
    height: 100%;
  }
 

body {

 	background-image: url("png.png");
 	font-size: 16px;
 }
 .small_font{
  font-size: 80%; 
 }

.green_box {
  background-color: #B2D4C8;
  width: 300px;
  height: 180px;
  margin: 20px;
}

.bigger_box {
  background-color: #5A8A7A;
  width: 350px;
  height: 200px;
  margin-top: -50px;
  margin-bottom: 20px;
}

.address p {
  margin-bottom: -2px;
}


.field {
  padding-right: 15%;
  margin-bottom: 30px;
}

.event_show {
  max-width: 40%;
  margin-right: 15%;
}

.event_show {
  color: #454A48;
}

#avatar {
  word-wrap: break-word;
}

.topbar{
	/*height: 320px;
	width: auto;
	background-image: url("arteventz-header-3-21.jpg");
	margin: 0 auto;
	background-repeat:no-repeat;*/
  width: 100%;
  height: auto;

}


.navbar .nav {
	margin: 0 auto;
}

.navbar .nav > li > a {
	margin-left: 50px;
  font-size: 22px;
}

.nav-header {
  font-size: 16px;
  padding-bottom: 25px;
}

.nav-list li a {
  font-size: 20px;
  padding: 15px;
}

#ui-datepicker-div{
	background-color: #e4e4e4;
	border-style:solid;
  border-width:1px;
}

#ui-datepicker-div table {
  border-collapse: collapse;
  width: 50%;

}

#ui-datepicker-div td,
#ui-datepicker-div th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#ui-datepicker-div th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#ui-datepicker-div td {
  background: #FFF;
  color: #777;
  vertical-align: top;
  font-size: 16px;
}

#ui-datepicker-div .notmonth {
  color: #CCC;
}

#ui-datepicker-div #month {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#ui-datepicker-div #month a, #ui-datepicker-div #month a:hover {
  text-decoration: none;
  padding: 0 16px;
  color: #999;
}

#ui-datepicker-div .today {
  background-color: #D7F2FF;
}

#ui-datepicker-div ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#ui-datepicker-div li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.slider-wrapper {
  margin-left: 400px;
  padding-left: 30px;
 /* max-height: 600px;*/
  width: auto;
/*  padding-bottom: 30px;*/

}
.swb {
  margin-left: 120px;
  /*max-height: 600px;*/
  width: auto;
/*  padding-bottom: 30px;*/
}

.call-box {
  background-color: #93b0a1;
  padding: 40px 0px 50px 45px;
  color: #FFF;
  margin: 10px;
  float:left;
  width: 100%;
  height: auto;
  max-width: 270px;

}

.call-box p {
  padding-top: 30px;
  padding-right: 25px;
}

.call-box p span {
  font-size: 1.7em;
  font-style: italic;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 50px;
  /*background-image: url("arteventz-footer.jpg");
  background-size: 100% auto;*/
}


.bottom-menu li{
  font-size: 1.1em;
  line-height: 150%;
}
