/*
 *= require bootstrap_and_overrides
 *= require flat-ui.css
 *= require fullcalendar.css
 *= require nivo-slider.css
 *= require default.css
 *= require jquery.share.css
 *= require_self.
 */

html,body {
    height: 100%;
 }
.input-prepend .add-on{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
body {
 	background-image: url("png.png");
 	font-size: 16px;
 }


a {
  color: #93b0a1;
 }

 /*show views*/
.table {
  width: 100%;
  background-color: transparent;
  margin: auto;

 }

 .pull-right {
  padding-right: 80px;


 }

 table {
  margin-left: 0px;
 }

.table th {
  height: 50px;
 }

.table tr:nth-child(even) {
  
  text-align: left;
  background-color: #E8E8E8;
 }

.table thead {
  background-color: #E8E8E8;
 }

.table a:visited {
  color: darkgrey;
 }

.table a:hover {
  color: #93b0a1;
  font-style: bold;
 }

label.required:after {
  content: " *";
  color: red;
}

.small_font{
  font-size: 80%; 
 }

#pic-box {
  width: 125px;
  height: 125px;
  background-color: #d9d6d6;
}

.address p {
  margin-bottom: -2px;
}


.field {
  padding-right: 15%;
  margin-bottom: 15px;
}

.event_show {
  max-width: 40%;
  padding-right: 30px;
}

.event_show_page {
  margin-top: 30px;
  margin-left: 0px;
}

.event_show_page2 {
  margin-top: 30px;
  margin-left: 30px;
}

.container-fluid {
  padding-left: 0px;
}

.sing_event_show {
  margin-left: 420px
}

.event_show {
  color: #454A48;
  margin-left: 45px;
}

/*.shown {
  margin-left: 30px;
}*/

#avatar {
  word-wrap: break-word;
}

.topbar{
  width: 100%;
  height: auto;
}

.container-fluid.shown {
  margin-top: 30px;
}

.navbar-inner {
  background-color: #d9d6d6;
}
.navbar .nav {
	margin: 0 auto;
}

.navbar .nav > li > a {
	margin-left: 50px;

  font-size: 1.4em;
  color: #fffefa;
}

/*.nav-header {
  font-size: 22px;
  padding-bottom: 25px;
}*/

.nav-list li a {
  font-size: 1.5em;
  padding: 15px;
}

.sidebar-nav {
  margin-top: 60px;
}

/*.nav-list {
  background-color: #b9b5c4;
}*/

#ui-datepicker-div{
	background-color: #e4e4e4;
	border-style:solid;
  border-width:1px;
}

/* datepicke*/
#ui-datepicker-div table {
  border-collapse: collapse;
  width: 50%;

}

#ui-datepicker-div td,
#ui-datepicker-div th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#ui-datepicker-div th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#ui-datepicker-div td {
  background: #FFF;
  color: #777;
  vertical-align: top;
  font-size: 16px;
}

#ui-datepicker-div .notmonth {
  color: #CCC;
}

#ui-datepicker-div #month {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#ui-datepicker-div #month a, #ui-datepicker-div #month a:hover {
  text-decoration: none;
  padding: 0 16px;
  color: #999;
}

#ui-datepicker-div .today {
  background-color: #D7F2FF;
}

#ui-datepicker-div ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#ui-datepicker-div li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.slider-wrapper {
  padding-left: 30px;
 }


/* sliders */
#public-home {
 margin-left: 340px
}
.pro-show{
  margin-left: 280px;
}


.tab-content {
  border: none;
  padding: 0px;
}
.nav-stacked {
  padding: 10px;
}
.call-box {
  background-color: #93b0a1;
  padding: 40px 0px 40px 45px;
  color: #FFF;
  margin: 10px;
  float:left;
  width: 100%;
  height: auto;
  max-width: 275px;
  margin-left: -5px;
}
.call-box p {
  padding-top: 30px;
  padding-right: 25px;

}

.call-box p span {
  font-size: 1.7em;
  font-style: italic;
}

/* footer stuff*/
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 40px;
  background-color: #d9d6d6;
  /*/*background-image: url("arteventz-footer.jpg");
  background-size: 100% auto;*/
}
.bottom-menu {
    background-color: #d9d6d6;
    height: 100%;
}

.bottom-menu a:hover {
  text-decoration: underline;
}

.foot-container {
  margin-left: 160px;
}
.col-title {
  color: #b9b5c4;
  font-size: 1.5em;
  line-height: 150%;
}
.bottom-menu li{
  font-size: 1.1em;
  line-height: 170%;

  color: #fffefa;
}
/*.brand {
  padding-right: 10%;
  margin-left: 0; 
  padding-left: 0;
}*/

.devise {
  margin-left: 15%;
}

.btn-wide{
  background-color: #b9b5c4;
}

.event-list{
  list-style-type: none;
  margin: 0;  
  width: 1050px;
  height:120px;
  margin: 10px;
  box-shadow: 3px 3px 3px 3px grey;
  background-color: #e2e2e2;
}
.event-date{
  width: 200px;
  height: 80px;
  font-size: 25px;
  padding-left: 9px;
  float:left;
}


.event-title{
  width: 400px;
  height: 130px;
  font-size: 25px;
  margin-top: -5px;
  padding-left: 9px;
  float: left;
  word-wrap: break-word;
  padding-right: 10px;
}
.event-location{
  width: 365px;
  height: 130px;
  font-size: 20px;
  margin-top: -8px;
  margin-bottom: 5px;
  float: left;
  word-wrap: break-word;
}
.btn.btn-success {
  background-color:#93b0a1;
}

.btn.btn-huge.btn.btn-wide {
  margin: 0 10px 10px 0 
}

#scroller {
  max-height: 600px;
  overflow-y: scroll;
}

#scroller-small {
  max-height: 200px;
  overflow-y: scroll;
}

.group1{
  padding-right:100px;
}

/*.socialsharing {
  padding-right: 600px;
}*/

.btn-search {
  margin-left: 20px;
  margin-top: -10px;
}

/* button and hover colors */
.btn.btn-primary {
  background-color:#93b0a1;
}

.active .bottom-menu a, .bottom-menu a:hover, .bottom-menu a:focus {
  color:#93b0a1;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color:#93b0a1;
}

.nav > li > a:hover, .nav > li > a:focus {
  color:#93b0a1;
}

.more-info {
  color:#93b0a1;
  font-style: bold;
  font-size: 1.2em;
 
}

.col-md-6 {
  margin-left: 0px;
  padding-left: 0px;
}


/* dave's social media follow icons below*/

/*.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }*/

/*.alignleft {
  float: left;
  }

.alignright {
  float: right;
  }
  

#socialiconbar div{
  float:right!important;
  margin-left:25px!important;
  margin-top:15px!important;
}

#twitter {
  display:relative!important;
  width:49px!important;
  height:49px!important;
  background-image: url(images/twitter.png)!important;
  background-position:top left!important;
  -webkit-transition: all 0.5s ease-in-out!important;
    -moz-transition: all 0.5s ease-in-out!important;
    -o-transition: all 0.5s ease-in-out!important;
  
}
#facebook {
  display:relative;
  width:49px;
  height:49px;
  background-image: url(./facebook.png);
  background-position:top left;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#linkedin {
  display:relative;
  width:49px;
  height:49px;
  background-image: url(./linkedin.png);
  background-position:top left;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#tumblr {
  display:relative;
  width:49px;
  height:49px;
  background-image: url(images/tumblr.png);
  background-position:top left;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#youtube {
  display:relative;
  width:49px;
  height:49px;
  background-image: url(./youtube.png);
  background-position:top left;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#pintrest {
  display:relative;
  width:49px;
  height:49px;
  background-image: url(./pintrest.png);
  background-position:top left;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#email {
  display:relative;
  width:49px;
  height:49px;
  background-image: url(./email.png);
  background-position:top left;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#socialiconbar div:hover {
  background-position:bottom left!important;
}

/* end of daves SM icon styles */
