<h1>Edit an Event</h1>
<br>
<br>
<%= render 'form' %>
<p ><em>Once an event is updated you will have the option to upload pictures</p>
<h5>
<%= link_to 'Back', dashboard_events_path %> | 
<%= link_to 'Show Event', @event %> |
<%= link_to 'Delete Event', dashboard_event_path(@event.id), method: :delete, data: { confirm: 'Are you sure?' } %></h5>
