<h1>Create a New Event</h1>
<!-- <p>DASHBOARD/NEW</p> -->
<p>* <strong>Required field</strong></p>
<%= render 'form' %>
<p ><em>Once an event is created you will have the option to upload pictures</p>
<h5><%= link_to 'Back', root_path %></h5>