<!DOCTYPE html>
<html>
 <head>
  <title>arteventz</title>
  </head>
  <body>
    <div class="topbar">
      <%= link_to(image_tag "header-mailer") %>
    </div>
   
    <div>
      <%= yield %>
      <%= link_to(image_tag("marilyn-david-hansen.jpg"), root_url) %>
    </div>
    <p>
      Your Friends, </br>
      The arteventz Team
    </p>
  </body>
  </html>

