<!DOCTYPE html>
<html>
 <head>
  <title>arteventz</title>
  </head>
  <body>
    <div>
      <%= yield %> 
    </div>
    <p>
      Your Friends, The arteventz Team
      Logan Brown, David Hansen, Michael Alexander and John Mcguire
    </p>
  </body>
  </html>

